@import "../../settings";

$column-height: calc(#{$board-content-height} - #{$gap * 2});

.columns {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-top: $gap;
  margin-left: $gap;
  > * {
    background-color: $color;
    color: $word-color;
    padding: 0 8px;
  }
  header.column-drag-handle {
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: 600;
    border-top-left-radius: $element-radius;
    border-top-right-radius: $element-radius;
    cursor: pointer;
  }
  footer {
    color: $add-icon-color;
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $element-radius;
    border-bottom-right-radius: $element-radius;
    .footer-action-handle {
      margin-left: $gap;
      cursor: pointer;
      &:hover {
        color: $word-color;
      }
    }
    span {
      display: flex;
    }
  }
  .card-list {
    margin: 0;
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($color: $color-3, $amount: 15);
      border-right: $element-radius;
    }
    //card-dnd-styles
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: 600;
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-view {
      // background-color: rgba(150, 150, 200, 0.1);
      // border: 1px #abc;
      margin: 5px;
    }
  }
}
