@import "../../settings";

.app-navbar-top {
  // background-color: rgb(0, 0, 0);
  // background-color: rgba(0, 0, 0, 0.4);
  // color: white;
  // font-weight: bold;
  height: $app-navbar-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: rgb(8, 14, 44);
  font-size: 1.5rem;
}
