@import "./settings";

.body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  list-style: 1.3em;
}

.kanban-clone {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: #fff;
  background: url("https://picsum.photos/1920/1080") no-repeat center;
}
